.product-list-item {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    width: 80%;
    margin: auto;
}
.product-image {
    width: 35%;
}
.product-image img{
    width: 80%;
    height: 100%;
    border-radius: 15px;
}

.product-details{
    width: 65%;
    padding: 10px;
}

.product-details h4 {
    font-weight: bold;
    text-align: justify;
}
.product-details p {
    font-weight: bold;
    text-align: justify;
    color: #84868e;

}